@media screen and (max-width: 768px) {
  .container {
    display: flex;
    text-align: center;
    background-color: aliceblue;
    padding: 10%;
  }

  .navbar {
    display: none;
  }

  .about-head {
    color: lightsalmon;
    font-size: 30px;
  }

  .contain {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
  }

  .arab {
    display: none;
  }

  .p1 {
    display: flex;
    text-align: center;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    border: 3px white solid;
    border-radius: 4px;
    padding: 5%;
    font-size: 22px;
  }

  .place {
    font-size: 18px;
    padding: 10px;
  }

  .year {
    font-size: 20px;
  }

  .Conten {
    text-align: center;
    font-size: 20px;
    padding: 5%;
  }

  .soco {
    background-color: khaki;
    margin-top: -10%;
  }

  .TonicEnd {
    text-align: center;
    margin-top: 10%;
    padding: 10px;
  }

  .Content {
    text-align: center;
  }

  .Cont {
    text-align: center;
    font-size: 20px;
    padding: 3%;
  }

  .log {
    width: 450px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 13px;
  }

  .time {
    height: 40vh;
    text-align: center;
    color: #fff;
    background-image: url(Image/ba/images.jpg);
    background-size: cover;
  }

  .times {
    margin-top: 20px;
    height: 40vh;
    text-align: center;
    color: #fff;
    background-image: url(Image/cof.jpg);
    background-size: cover;
  }

  .wama {
    text-align: center;
    font-size: 50px;
    padding: 2%;
    margin-top: 0;
  }

  .glob {
    font-size: 20px;
  }

  .card-icon {
    width: 70px;
    margin-left: 10px;
    margin-top: 20px;
  }

  .pat {
    color: white;
    text-align: center;
  }

  .part {
    width: auto;
    align-items: center;
    justify-content: center;
    background-color: black;
  }

  .last {
    display: flex;
    gap: 8%;
    margin-left: 12%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .logo {
    width: 30%;
    height: 100px;
  }

  h3 {
    color: #fff;
  }

  .such {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    font-size: 20px;
  }

  .wanted {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    text-align: center;
    background-color: aliceblue;
    padding: 10%;
  }

  .nav {
    display: none;
  }

  .wanted {
    display: flex;
    background-color: black;
    color: #fff;
    flex-direction: row;
    justify-content: end;
  }

  .wina {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 10px;
    margin-right: 75px;
  }

  .lol {
    height: 15px;
    margin-top: 10px;
  }

  .navbar {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    font-size: 20px;
  }

  .itoa {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #ec4327;
    border: 5px solid crimson;
    padding: 10px;
  }

  .lolo {
    width: 75%;
    height: 55px;
    margin-left: 75px;
  }

  .about-head {
    display: none;
  }

  .log {
    display: flex;
    justify-items: center;
    width: 250px;
    height: 150px;
    padding-left: 280px;
  }

  .contain {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
  }

  .p1 {
    display: flex;
    text-align: center;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    border: 3px white solid;
    border-radius: 4px;
    padding: 5%;
    font-size: 22px;
  }

  .place {
    font-size: 18px;
    padding: 10px;
  }

  .year {
    font-size: 20px;
  }

  .Conten {
    text-align: center;
    font-size: 20px;
    padding: 5%;
  }

  .Cont {
    text-align: center;
    font-size: 20px;
    padding: 3%;
  }

  .time {
    height: 30vh;
    width: 60vh;
    text-align: center;
    color: #fff;
    background-image: url(Image/ba/images.jpg);
    background-size: cover;
  }

  .times {
    height: 30vh;
    width: 60vh;
    text-align: center;
    color: #fff;
    background-image: url(Image/ba/cof.jpg);
    background-size: cover;
  }

  .wama {
    text-align: center;
    font-size: 50px;
    padding: 2%;
    margin-top: 0;
  }

  .glob {
    font-size: 20px;
  }

  .card-icon {
    width: 70px;
    margin-left: 10px;
    margin-top: 20px;
  }

  .pat {
    color: white;
    text-align: center;
  }

  .part {
    display: none;
  }

  .last {
    display: flex;
    gap: 8%;
    margin-left: 12%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: black;
  }

  .clov {
    color: white;
  }

  .logo {
    width: 30%;
    height: 100px;
  }

  h3 {
    color: #fff;
  }

  .such {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    font-size: 20px;
  }

  .mine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .TonicEnd {
    text-align: center;
  }

  .arab {
    color: #fff;
    font-size: 11px;
  }
}
